services:
  stats-server:
    build:
      context: .
      dockerfile: stats-service/stats-server/Dockerfile
    container_name: stats-server
    depends_on:
      - stats-db
    ports:
      - "9090:9090"

  stats-db:
    image: postgres:16.1
    container_name: postgres-ewm-stats-db
    ports:
      - "6542:5432"
    environment:
      POSTGRES_DB: stats
      POSTGRES_USER: stats
      POSTGRES_PASSWORD: stats

#  ewm-service:
#    build:
#      context: .
#      dockerfile: main-service/Dockerfile
#    ports:
#      - "8080:8080"
